{{{{User:MisterSynergy/activity-header}}}}

* Last update: <span id="msynbot-activity-date" data-utc-timestamp="{timestamp}">{timestamp_formatted}</span>.
* [[Special:MyLanguage/Wikidata:Bureaucrats|policy]] • [[Special:ListUsers/{group}|list of members]] • [[Special:ListGroupRights#{group}|associated rights]]
* There is an inactivity policy for this group. Furthermore, membership in the Administrator group is required to hold Bureaucrat rights.

{report_table}

{{{{User:MisterSynergy/activity-legend}}}}